<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <!--Trace WPF Binding-->
      <source name="System.Windows.Data" switchName="SourceSwitch" >
      </source>
    </sources>
    <switches>
      <add name="SourceSwitch" value="All" />
    </switches>
    <trace autoflush="true" indentsize="4">
    </trace>
  </system.diagnostics>
</configuration>